!!! 5
%head
  %link{:rel => 'stylesheet', :href => url('/stylesheets/style.css')}
  %script{:src => 'js/lib/require.js', :data => {:main => 'main.js'}}
  %script{:src => '/jst.js'}
%body
  %div
    %p Index.
  %main
    = yield