!!! 5
%head
  %link{:rel => 'stylesheet', :href => 'stylesheets/style.css'}
  %script{:src => 'js/lib/require.js', :data => {:main => 'main.js'}}
%body
  %div#dashboard_top_bar
    %p some dashboard shit
  %div#wrapper
    %div#dashboard_side_bar
      %p stuff
    %div#dashboard
      %p all of the tracking stuff