!!! 5
%head
  %link{:rel => 'stylesheet', :href => url('/assets/stylesheets/application.css')}
%body
  %div#dashboard_top_bar
    %p
      %span.name
        = user.name
      %a.profile{:href => "dashboard/profile/"} Profile
      %a.sign-out{:href => '/users/signout'} Sign Out

  %div#wrapper
    %div#dashboard_side_bar
      %p stuff
    %div#dashboard
  %script{:src => url('/assets/javascripts/application.js')}