@import "reset.css";
@import "normalize.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
}

div#dashboard_top_bar {
  height: 75px;
  border-bottom: black solid thin;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: lightgray;
  z-index: 15;
  padding: 10px;
}
div#wrapper {
  position: relative;
  margin: 75px 0 0 0;
  padding: 15px;
}
div#dashboard_side_bar {
  position: fixed;
  top: 75px;
  width: 175px;
  border-right: blue solid thin;
}
div#dashboard {
  position: relative;
  margin: 0 100px 0 175px;
  height: 1000px;
  padding: 15px;
}
div#footer {
  position: fixed;
}
